<div class="container-fluid bg-primary text-white text-center  p-3">
  <h2>Angular Introduction</h2>
</div>

<p class="container  p-3 col-md-6 bg-dark text-white mt-5 rounded-4 text-center text-uppercase border border-warning text-white">{{name}}</p>

<div class="container col-md-6 p-4  my-5 border border-success bg-secondary rounded-5">
  <h2 class="p-2 text-center  ">Signup Form</h2>
  <form action="">
    <div class="form-group my-4">
      <label for="" class="form-label">Name :</label>
      <input type="text" class="form-control" name="name" required>
    </div>
    <div class="form-group my-4">
      <label for="" class="form-label">Password :</label>
      <input type="text" class="form-control" name="password" required>
    </div>
    <div class="mt-5 p-3 text-center">
      <button type="submit" class="btn btn-danger" name="submit">Signup</button>
    </div>
  </form>
</div>

